data/*
venv/*
src/__pycache__/*
src/*.pyc
src/*.pyo
src/*.pyd
src/.pytest_cache
src/.mypy_cache
src/.coverage
src/.mypy_cache/
src/.vscode
src/.idea
src/.DS_Store
src/.env
src/evaluation_results/*
src/metrics/*
src/visualizations/*
src/saved_models/*
src/logs/*